nav {
  padding: 5px;
  background: rgb(130, 185, 236);
  display: flex;
  gap: 10px;
  justify-content: center;

  div.navItem a {
    color: White;
    text-decoration: none;

    &:hover {
      color: Black;
      text-align: center;
    }
  }
}
