.cardContainer {
  padding: 20px 2px;
  display: flex;
  flex-wrap: wrap;
  .img {
    width: 80%;
    display: block;
    border-radius: 3px 3px 3px 3px;
    padding: 1px;
  }

  .card {
    width: 240px;
    height: 300px;
    padding: 10px;
    border: 1px solid LightGray;
    border-radius: 5px;
    align-items: center;
    text-align: center;

    margin: 1rem;
    box-shadow: 4px 4px 8px 4px rgba(70, 70, 70, 0.3);
  }

  .searchbar {
    border: 1px solid rgb(255, 61, 61);
    border-radius: 6px;
    display: flex;
    justify-content: center;
  }
}

.title {
  display: flex;
  justify-content: center;
}
