div.cardContainer {
  border: 1px solid LightGray;
  border-radius: 3px;
  padding: 20px 20px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;

  div.card {
    width: 100%;
    height: 100%;
    padding: 10px;
    border: 1px solid LightGray;
    border-radius: 5px;
    box-shadow: 4px 4px 8px 4px rgba(70,70,70,0.3);

    img { width: 100%; display: block; border-radius: 0px 0px 3px 3px }
  }
}
