.cardContainer {
  border: 1px solid rgb(0, 0, 0);
  border-radius: 6px;
  padding: 20px 2px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0px;
  width: 60%;
  height: 60%;
  margin: 2rem;

  .card {
    width: 200px;
    height: 250px;
    padding: 10px;
    border: 1px solid LightGray;
    border-radius: 5px;
    align-items: center;
    text-align: center;

    margin: 1rem;
    box-shadow: 4px 4px 8px 4px rgba(70, 70, 70, 0.3);

    .img {
      width: 60%;
      display: block;
      border-radius: 0px 0px 3px 3px;
    }
  }

  .searchbar {
    border: 1px solid rgb(255, 61, 61);
    border-radius: 6px;
  }
}
