.cardContainer {
  padding: 20px 2px;
  display: flex;
  flex-wrap: wrap;
  .img {
    width: 80%;
    display: block;
    padding: 1px;
  }

  .card {
    width: 240px;
    height: 300px;
    padding: 10px;
    border: solid;
    border-radius: 5px;
    align-items: center;
    text-align: center;

    margin: 1rem;
    box-shadow: 4px 4px 8px 4px rgba(70, 70, 70, 0.3);
  }

  /* CSS classes to define background colors */

  .red-border {
    border-color: red;
    border-width: 10px;
  }

  .green-border {
    border-color: green;
    border-width: 10px;
  }

  .grey-border {
    border-color: rgb(94, 94, 94);
    border-width: 10px;
  }

  .searchbar {
    border: 1px solid rgb(255, 61, 61);
    border-radius: 6px;
    display: flex;
    justify-content: center;
  }
}

.title {
  display: flex;
  justify-content: center;
}

.Filter {
  align-items: center;
  text-align: center;
}
